# Utilities
cmd/audio2text/audio2text
cmd/conclude/conclude
cmd/play/play
cmd/rec/rec
cmd/slackpost/slackpost
cmd/wav2mp4/wav2mp4
cmd/backend/backend
cmd/frontend/frontend

# macOS
.DS_Store

# Various
*.tmp
*.bak
*.out
*.swp
include.txt

# Audio-related
#*.wav
#*.mp4
